# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Any changes made here only affect newly generated villages.
##########################################################################################################

general {
    # If this is 'true', the zombieVillageRarity option is treated instead a chance to *not* be a zombie village. For example, if this is 'true' and zombieVillageRarity is 50, 49 out of every 50 villages will be zombie villages.
    # 
    # Setting this to 'true' and setting zombieVillageRarity to 1 will disable zombie villages. [default: false]
    B:flipChance=false

    # The chance a village will be a zombie village. This is taken as a '1/n' chance, so a value of 50 means that 1 out of every 50 villages will be a zombie village. A value of 1 means every village will be a zombie village. [range: 1 ~ 2147483647, default: 50]
    I:zombieVillageRarity=50
}


